<?xml version="1.0"?>
<config>
	<modules>
		<TotalMetrica_PayAfter>
			<version>0.1.0</version>
		</TotalMetrica_PayAfter>
	</modules>
	<global>
		<helpers>
			<payafter>
				<class>TotalMetrica_PayAfter_Helper</class>
			</payafter>
		</helpers>
		<blocks>
			<payafter>
				<class>TotalMetrica_PayAfter_Block</class>
			</payafter>
		</blocks>
		<models>
			<payafter>
				<class>TotalMetrica_PayAfter_Model</class>
				<resourceModel>payafter_mysql4</resourceModel>
			</payafter>
			<payafter_mysql4>
				<class>TotalMetrica_PayAfter_Model_Mysql4</class>
				<entities>
					<payafter>
						<table>tm_pay_after</table>
					</payafter>
				</entities>
			</payafter_mysql4>
		</models>
		<resources>
			<payafter_setup>
				<setup>
					<module>TotalMetrica_PayAfter</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</payafter_setup>
			<payafter_write>
				<connection>
					<use>core_write</use>
				</connection>
			</payafter_write>
			<payafter_read>
				<connection>
					<use>core_read</use>
				</connection>
			</payafter_read>
		</resources>
	</global>
	<admin>
		<routers>
			<payafter>
				<use>admin</use>
				<args>
					<module>TotalMetrica_PayAfter</module>
					<frontName>admin_payafter</frontName>
				</args>
			</payafter>
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<payafter module="payafter">
				<title>PayAfter</title>
				<sort_order>100</sort_order>
				<action>admin_payafter/adminhtml_payafter</action>
			</payafter>
		</menu>
		<layout>
			<updates>
				<payafter>
					<file>payafter.xml</file>
				</payafter>
			</updates>
		</layout>
	</adminhtml>
	<crontab>
		<jobs>
			<payafter_processorders>
				<schedule><cron_expr>*/1 * * * *</cron_expr></schedule>
				<run><model>payafter/cron::ProcessOrders</model></run>
			</payafter_processorders>
		</jobs>
	</crontab>
</config> 