<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <CisTecnologia_Importacao>
            <version>1.0.0.0</version>
        </CisTecnologia_Importacao>
    </modules>
    <frontend>
        <routers>
            <importacao>
                <use>standard</use>
                <args>
                    <module>CisTecnologia_Importacao</module>
                    <frontName>importacao</frontName>
                </args>
            </importacao>
        </routers>
        <layout>
		<updates>
			<importacao>
				<file>importacao.xml</file>
			</importacao>
		</updates>
        </layout>
    </frontend>
    <admin>
	<routers>
		<importacaoadmin>
			<use>admin</use>
			<args>
				<module>CisTecnologia_Importacao</module>
				<frontName>importacao</frontName>
			</args>
		</importacaoadmin>
	</routers>
    </admin>
    <adminhtml>
        <layout>
		<updates>
			<importacao>
				<file>importacao.xml</file>
			</importacao>
		</updates>
        </layout>
    </adminhtml>
    <global>
		<models>
			<importacao>
				<class>CisTecnologia_Importacao_Model</class>
				<resourceModel>importacao_mysql4</resourceModel>
			</importacao>
			<importacao_mysql4>
				<class>Cistecnologia_Importacao_Model_Mysql4</class>
				<entities>
					<importacao>
						<table>importacao</table>
					</importacao>
				</entities>
			</importacao_mysql4>
		</models>
		<helpers>
			<importacao>
				<class>CisTecnologia_Importacao_Helper</class>
			</importacao>
		</helpers>
		<resources>
			<importacao_setup>
				<setup>
					<module>Cistecnologia_Importacao</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</importacao_setup>
			<importacao_write>
				<connection>
					<use>core_write</use>
				</connection>
			</importacao_write>
			<importacao_read>
				<connection>
					<use>core_read</use>
				</connection>
			</importacao_read>
		</resources>
		<rewrite>
			<cistecnologia_Importacao_rewrite>
				<from><![CDATA[#^/[_]/(.+)/?$#]]></from>
				<to><![CDATA[/importacao/redirect]]></to>
				<complete>1</complete>
			</cistecnologia_Importacao_rewrite>
		</rewrite>
    </global>
</config>