<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <CisTecnologia_ListaFavoritos>
            <version>1.0.0.0</version>
        </CisTecnologia_ListaFavoritos>
    </modules>
    <frontend>
        <routers>
            <listafavoritos>
                <use>standard</use>
                <args>
                    <module>CisTecnologia_ListaFavoritos</module>
                    <frontName>listafavoritos</frontName>
                </args>
            </listafavoritos>
        </routers>
        <layout>
		<updates>
			<listafavoritos>
				<file>listafavoritos.xml</file>
			</listafavoritos>
		</updates>
        </layout>
        <events>
            <customer_login>
                <observers>
                    <cistecnologia_listafavoritos_login>
                        <type>singleton</type>
                        <class>cistecnologia_listafavoritos/observer</class>
                        <method>customerLogin</method>
                    </cistecnologia_listafavoritos_login>
                </observers>
            </customer_login>
        </events>
    </frontend>
    <global>
		<models>
			<cistecnologia_listafavoritos>
				<class>CisTecnologia_ListaFavoritos_Model</class>
			</cistecnologia_listafavoritos>
		</models>
		<helpers>
			<cistecnologia_listafavoritos>
				<class>CisTecnologia_ListaFavoritos_Helper</class>
			</cistecnologia_listafavoritos>
		</helpers>
	</global>
</config>