<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <totalmetrica_tree>
            <version>1.0.0.0</version>
        </totalmetrica_tree>
    </modules>
    <frontend>
        <routers>
            <track>
                <use>standard</use>
                <args>
                    <module>TotalMetrica_Tree</module>
                    <frontName>tree</frontName>
                </args>
            </track>
        </routers>
        <layout>
		<updates>
			<tree>
				<file>tree.xml</file>
			</tree>
		</updates>
        </layout>
    </frontend>
    <admin>
	<routers>
		<tree>
			<use>admin</use>
			<args>
				<module>TotalMetrica_Tree</module>
				<frontName>tree</frontName>
			</args>
		</tree>
	</routers>
    </admin>
    <adminhtml>
        <layout>
		<updates>
			<tree>
				<file>tree.xml</file>
			</tree>
		</updates>
        </layout>
    </adminhtml>
    <global>
	<models>
		<tree>
			<class>TotalMetrica_Tree_Model</class>
			<resourceModel>Tree_Mysql4</resourceModel>
		</tree>
		<tree_mysql4>
			<class>TotalMetrica_Tree_Model_Mysql4</class>
			<entities>
				<tree>
					<table>tree</table>
				</tree>
			</entities>
		</tree_mysql4>
	</models>
	<helpers>
		<tree>
		<class>TotalMetrica_Tree_Helper</class>
		</tree>
	</helpers>
	<resources>
		<tree_setup>
			<setup>
				<module>TotalMetrica_Tree</module>
			</setup>
			<connection>
				<use>core_setup</use>
			</connection>
		</tree_setup>
		<tree_write>
			<connection>
				<use>core_write</use>
			</connection>
		</tree_write>
		<tree_read>
			<connection>
				<use>core_read</use>
			</connection>
		</tree_read>
	</resources>
	<rewrite>
		<totalmetrica_tree_rewrite>
			<from><![CDATA[#^/[_]/(.+)/?$#]]></from>
			<to><![CDATA[/tree/redirect]]></to>
			<complete>1</complete>
		</totalmetrica_tree_rewrite>
	</rewrite>
    </global>
</config>